
.col-md-4 {
    max-width: 20%;
    margin-right: 100px;
}

.card{
    max-width: 1440px;
    border: 1px solid rgb(13, 39, 184);
    border-radius: 2.25rem;
    background-color: #c4c6c8;
}


pre{
    padding-left: 10px;
    font-size: 90%;
}

.list-group{
    border-radius: .7rem;
}

.py-5{
    margin-bottom: 20%;
    max-width: 100%;
}

.py-4{
    margin-bottom: 23%;
}



a:hover {
  color: #9304bb;
  text-decoration: underline;
}


.navbar-brand {
  color: white;
}

.mt-4{
    max-width: 100%;
    margin-bottom: 23%;
    
}


.mb-1{
    max-width: 20%;
}

.mb-2{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 2.25rem;
    
}

.container1{
    display: flex;
    margin-top: 20px;
}



.rounded {
    margin-bottom: 0;
    border-radius: 2.25rem !important;
    border: solid 2px #b891df;
}
